<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <title>Pokemon Info</title>
<body>
    <div id="showContainer">

    <h1> <%= pokemonData[pokemonStats].name %> </h1>

    <img src="<%= pokemonData[pokemonStats].img %>" width="50px">

        <ul style="list-style: none;">
            <li>Type: <%= pokemonData[pokemonStats].type[0] %></li>
            <li>Stats 
                <ul style="list-style: none;">
                <li>HP: <%= pokemonData[pokemonStats].stats.hp %></li>
                <li>Attack: <%= pokemonData[pokemonStats].stats.attack %></li>
                <li>Defense: <%= pokemonData[pokemonStats].stats.defense %></li>
                <li>Sp Attack: <%= pokemonData[pokemonStats].stats.spattack %></li>
                <li>Sp Defense: <%= pokemonData[pokemonStats].stats.spdefense %></li>
                <li>Speed: <%= pokemonData[pokemonStats].stats.speed %></li>
                </ul>
            </li>
            <li>Abilities: <%= pokemonData[pokemonStats].misc.abilities.normal %> </li>
        </ul>
        <form action="/pokedex/<%= pokemonStats %>?_method=DELETE" method="POST">
            <input type="submit" value="Remove">
        </form>
            <a href="/">
                <input type="submit" value="Home">
            </a>
            <a href="/<%=pokemonStats%>/edit">
                <input type="submit" value="Edit Info">
            </a>
    </div>
</body>
</html>